{
  "presets": [
   [ "@babel/preset-env", {
     "modules": false
   }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-object-rest-spread"
  ]
}
