application.conf
logs
.idea/
target/
.dynamodb-local
public/dist
node_modules
.DS_Store
public/video-ui/build
yarn.lock
conf/youtube-DEV.conf
conf/capi-DEV.conf
conf/flexible-DEV.conf
conf/sentry-DEV.conf
