.bar {
  width: 100%;
  padding: 15px;
  text-align: left;
  font-size: 15px;

  &__button {
    background-color: $brandColor;
    font-family: $text-font-stack;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin:5px 0 2px;
    color: $color800Grey;

    &:hover {
      background-color: darken($brandColor, 5%);
    }

    &:focus {
      outline: 1px solid $cWhite;
    }
  }

  &__image img {
      width: 130px;
      height: auto;
      margin-right: 15px;

  }

  &__image-placeholder {
      background-color: $color800Grey;
      width: 130px;
      height: 74px;
      text-align: center;
      padding-top: 26px;
      margin: 0 15px 4px 0;
  }

  &__message {
    margin-left: 5px;
  }
}

.info-bar {
  background-color: $color700Grey;
  text-align: left;
  display: inline-flex;
  padding: 8px 15px 3px;
  margin: 0;
}

.error-bar {
  display: block;

  position: relative;

  padding: 10px;

  background-color: $cRedFF;
  color: white;
  text-align: center;
}

.publish-bar {
  font-size: 13px;
  width: 60%;
  padding: 0px;
  flex-direction: row;
}

.publish-bar__button {
  margin-top: 9px;

  &:disabled {
    background: $color500Grey;
  }
}

.publish-bar__message {
  padding: 14px;
}

.publish-bar__message__block {
  margin-left: 10px;
}

