.bar {
  width: 100%;
  background-color: $cGreen32;
  border-bottom: 1px solid darken($cGreen32, 9);

  padding: 5px;
  text-align: center;

  font-size: 15px;

  &__button {
    background-color: $color650Grey;
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 2px;
    color: $color300Grey;

    &:focus {
      outline: 1px solid $cWhite;
    }
  }

  &__message {
    margin-right: 15px;
  }
}

.info-bar {
  background-color: $cBlue32;
  border-bottom: 1px solid darken($cBlue32, 10);
}

.error-bar {
  display: block;

  position: relative;

  padding: 10px;

  background-color: $cRedFF;
  color: white;
  text-align: center;
}
