.bar {
  width: 100%;
  padding: 15px;
  text-align: left;
  font-size: 15px;

  &__button {
    background-color: $brandColor;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin:5px 0 2px;
    color: $color800Grey;

    &:hover {
      background-color: darken($brandColor, 5%);
    }

    &:focus {
      outline: 1px solid $cWhite;
    }
  }

  &__message {
    margin-left: 5px;
  }
}

.info-bar {
  background-color: $cBlue32;
  border-bottom: 1px solid darken($cBlue32, 10);
}

.error-bar {
  display: block;

  position: relative;

  padding: 10px;

  background-color: $cRedFF;
  color: white;
  text-align: center;
}
