.bar {
  width: 100%;
  padding: 15px;
  text-align: left;
  font-size: 15px;

  &__button {
    background-color: $brandColor;
    font-family: $text-font-stack;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin:5px 0 2px;
    color: $color800Grey;

    &:hover {
      background-color: darken($brandColor, 5%);
    }

    &:focus {
      outline: 1px solid $cWhite;
    }
  }

  &__image img {
      width: 130px;
      height: auto;
      margin-right: 15px;

  }

  &__image-placeholder {
      background-color: $color800Grey;
      width: 130px;
      height: 74px;
      text-align: center;
      padding-top: 26px;
      margin: 0 15px 4px 0;
  }

  &__message {
    margin-left: 5px;
  }
}

.info-bar {
  background-color: $color700Grey;
  text-align: left;
  display: inline-flex;
  padding: 8px 15px 3px;
  margin: 0;
}

.error-bar {
  display: block;
  position: relative;
  padding: 10px;
  background-color: $cRedFF;
  color: white;
  text-align: center;

  &.error-bar--animate {
    animation: errorBarPulse 0.6s 2;
  }

}

.error-bar--warning {
  display: block;
  position: relative;
  padding: 10px;
  background-color: $slightDangerColor;
  color: white;
  text-align: center;

  &.error-bar--animate {
    animation: errorBarWarningPulse 0.6s 2;
  }
}

@keyframes errorBarPulse {
  0% {
    background-color: $cRedFF;
  }
  50% {
    background-color: $cRedE3;
  }
  100% {
    background-color: $cRedFF;
  }
}

@keyframes errorBarWarningPulse {
  0% {
    background-color: $slightDangerColor;
  }
  50% {
    background-color: #b67604;
  }
  100% {
    background-color: $slightDangerColor;
  }
}

.publish-bar {
  padding: 0 10px 0 10px;
  border: 1px solid $color625Grey;
  border-top: 0;
  border-bottom: 0;
  height: $topbarHeight;
}

.publish-bar__message {
  padding: 14px;
}

.publish-bar__message__block {
  margin-right: 10px;
}
