// -----------------------------------------------------------------------------
// This file contains styles for all buttons.
// -----------------------------------------------------------------------------
button {
  // Reset for browser buttons
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
  a {
    text-decoration: none;
  }
}

.button__secondary {
  @include buttonClass($color800Grey, $color500Grey, $color300Grey, $color800Grey);

  &__assets {
    margin: 5px;
  }
}

.button__active {
  @include buttonClass($brandColor, $color500Grey, $color800Grey, $color800Grey);
  position: absolute;
  right: 50px;
  top: 8px;
  padding: 10px;
}

.btn {
  @include buttonClass($brandColor, $color500Grey, $color800Grey, $color800Grey);

  &--pluto {
    margin-left: 5px;
    padding: 7px;
  }
}

.btn + .btn {
  margin-left: 5px;
}

.btn--loading {
  background: {
    image: url(/assets/video-ui/images/progress-spinner.gif);
    position: right 5px center;
    repeat: no-repeat;
    size: 10px 10px;
  };
  padding-right: 20px;
}


.btn__group {
  display: flex;
  width: 100%;
}

.page__add__button {
  display: flex;
  justify-content: flex-end;
}

a.button {
  text-decoration: none;

  &.disabled {
    @include disabled;
  }
}
