// -----------------------------------------------------------------------------
// This file contains styles for all buttons.
// -----------------------------------------------------------------------------
button {
  // Reset for browser buttons
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
}

.button__secondary {
  @include buttonClass($color800Grey, $color300Grey);
}

.btn {
  @include buttonClass($brandColor, $color800Grey);
}

.btn + .btn {
  margin-left: 5px;
}

.btn--loading {
  background: {
    image: url(/assets/video-ui/images/progress-spinner.gif);
    position: right 5px center;
    repeat: no-repeat;
    size: 10px 10px;
  };
  padding-right: 20px;
}


.btn__group {
  display: flex;
  width: 100%;
}

.page__add__button {
  display: flex;
  justify-content: flex-end;
}
