// -----------------------------------------------------------------------------
// This file contains styles for all buttons.
// -----------------------------------------------------------------------------
button {
  // Reset for browser buttons
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
}

.btn {
  display: block;
  padding: 10px;
  background: $darkBrandColor;
  color: $cWhite;
  font-size: 12px;
  font-weight: bold;

  &:hover:not(:disabled) {
    background: $brandColor;
  }

  &:disabled {
    background: $color500Grey;
  }
}

.flag-btn {
  @extend .btn;
  width: 60px;
  margin-right: 10px;
}

.on-btn {
  @extend .flag-btn;
  background: $cGreen1c;
  &:hover:not(:disabled) {
    background: $cGreen33;
  }
}

.switch {
    border-radius: 4px;
    content: "";
    background: white;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.off-switch:before {
  @extend .switch;
  margin-right: 7px;
}

.on-switch:after {
  @extend .switch;
  margin-left: 7px;
}

.btn--loading {
  background: {
    image: url(/assets/video-ui/images/progress-spinner.gif);
    position: right 5px center;
    repeat: no-repeat;
    size: 10px 10px;
  };
  padding-right: 20px;
}
