.details-list__title {
  font-weight: bold;
  margin: 0 0 5px;
  padding: 8px 0 0;
  border-top: 1px solid $color625Grey;
}

.details-list__field {
  color: $cWhite;
  overflow: hidden;
  word-wrap: inherit;
  text-overflow: ellipsis;
  margin: 0 0 10px;
  padding: 0px;

  &--text-area {
    white-space: pre-line;
  }
}

.details-list__field--scribe > p,ul {
  margin: 0;
}

.details-list__labeled-filter {
  display: flex;
}

.details-list__labeled-filter__label {
  margin-left: 5px;
}

.details-list__empty {
  font-style: italic;
}

.details-list__big {
  padding-right: 10px;

}
