// -----------------------------------------------------------------------------
// This file contains styles for all form elements
// -----------------------------------------------------------------------------

.atom__section__form {
  display: flex;
}

.form__section {
  width: 50%;
}

.form__row {
  margin-bottom: 10px;
}

.form__field__tag--input {
  border: none;
  background-color: $color650Grey;
  color: $textColor;
  font-size: 13px;
  width: 60px;
  padding-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  &:focus {
    outline: none;
  }

  &--empty {
    width: 270px;
  }
}

.form__field__tag--container {
  display: flex;
}

.form__field__selected__tag {
  border: 1px solid $color400Grey;
  margin-top: 3px;
  padding: 3px;
}

.form__field__selected__tag__draggable {
  cursor: grab;
}

.form__field__tag__list {
  padding: 3px;
  border: 1px solid $color400Grey;
  margin-top: 3px;
}

.form__field__tag--selector {
  display: flex;
  align-content: flex-start;
  border: 1px solid $color400Grey;
  border-top: 1px solid $color400Grey;
  width: 100%;
  padding: 5px 5px;
  cursor: pointer;
  flex-wrap: wrap;
  min-height: 36px;
  .form__field__tag--container, .form__field__tag--container input {
    flex-grow: 1;
  }
}

.form__field {
  position: relative;
  padding: 5px;
  font-size: 12px;
  border: 1px solid $color500Grey;
  width: 100%;
  background-color: $color650Grey;
  color: $cWhite;
  display: inline-block;
  height: 36px;

  &:not(:last-child) {
    margin: 0 0 10px;
  }

  &:focus {
    border-color: $color400Grey;
    outline: none;
  }

  &__file {
    border: none;
    display: block;
    margin: 0 0 10px;
    font-family: $text-font-stack;

    &::file-selector-button {
      padding: 5px 7px;
      margin-right: 8px;
      border: none;
      &:hover{
        background-color: $color300Grey;
        cursor: pointer;
      }
    }

    &:disabled {
      &::file-selector-button {
        background-color: #888888;
        &:hover {
          background-color: #888888;
          cursor: not-allowed;
        }
      }
    }
  }

  // Placeholder styling, separated because if one selector is invalid, the browser will ignore the rest
  ::-webkit-input-placeholder {
    color: $textColor;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $textColor;
  }

  :-ms-input-placeholder {
    color: $textColor;
  }

  // Because select elements are THE WORST
  &--select {
    background: url(../images/arrow.png) $color650Grey no-repeat right 10px center;
    background-size: 10px 10px;
    margin-right: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    text-indent: .01px;
    text-overflow: '';
    &:hover {
      cursor: pointer;
      background-color: $color625Grey;
    }
  }

  &--error {
    border-color: $dangerColor;
  }

  &--external-error {
    color: $dangerColor;
    margin-top: 10px;
  }

  &--warning {
    border-color: $brandColor;
  }

  &--loading {
    background: {
      image: url(../images/progress-spinner.gif);
      position: center right 10px;
      repeat: no-repeat;
      size: 16px 16px;
    }
  }

  &--pluto {
    margin: 5px 0px 5px 0px !important;

  }

  &--textarea {
    height: inherit;
    min-height: 200px;
  }

  &--inline {
    display: inline-block;
    width: auto;
  }
}

.form__description {
  display: inline-block;
  margin: 5px 0;
}

.form__label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 8px 0 0;
  border-top: 1px solid $color625Grey;
}

.form__label__button {
  font-size: 10px;
  padding: 5px;
}

.form__label__copy-button {
  height: 24px;
  display: inline-flex;
  align-items: center;
}

.form__label__layout__rich-text {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__label__layout__expire-now-button{
  display:inline-flex;
  align-items: center;
  gap: 12px;
}

.form__message {
  font-size: 13px;
  margin-top: 10px;

  &--error {
    color: $dangerColor;
  }

  &--warning {
    color: $brandColor;
  }

  &--display {
    color: $color300Grey;
  }

}

.form__image {
  padding: 10px;
  text-align: center;
  background-color: inherit;
}



.form__image img {
  max-width: 100%;
  max-height: 250px;
}

.form-checkbox{
  &:hover {
    filter: brightness(90%);
    cursor: pointer;
  }
}

.form__save-wrapper {
  position: relative;
  margin-bottom: 15px;
  border-top: 1px solid $color625Grey;
  padding-top: 8px;
}

.form__edit-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0;
  background: url(../images/edit-icon.svg) $darkBrandColor no-repeat center;
  background-size: 15px 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &:hover {
    background-color: $brandColor;
  }

  &:focus {
    border: 1px solid $cWhite;
  }
}

.form__field__instructions {
  font-size: 12px;
}

.form__field__tags {
  border: 1px solid $color400Grey;
  display: block;
  border-top: 1px solid $color400Grey;
  width: 100%;
  padding: 7px 5px;
  cursor: pointer;
  overflow: auto;
  max-height: 250px;

  &--selected {
    background: $color800Grey;
  }
}


.form__field__tag__display {
  text-decoration: underline $textColor;
  padding-left: 3px;
}

.form__field--multiselect {
  $multiSelectBtnWidth: 45px;
  position: relative;
  padding-right: $multiSelectBtnWidth + 10px;

  &__btn {
    width: $multiSelectBtnWidth;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: $color200Grey;
    border-left: 1px solid $color300Grey;
    cursor: pointer;
  }

  &__options {
    background: $color200Grey;
    border: 1px solid $color300Grey;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    z-index: 1;
  }

  &__option {
    padding: 5px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $color300Grey;
    };

    &:hover {
      background: $color650Grey;
    }
  }

  &__value {
    display: inline-block;
    padding: 2px 4px;
    background: $color650Grey;
    border: 1px solid $color300Grey;
    border-radius: 2px;
    margin-right: 2px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;

  }
}

.form__field__tag__remove {
  &:after {
    content: '×';
    display: inline-block;
    font-weight: normal;
    margin-left: 4px;
    cursor: pointer;
  }
}

.form__field--multistring__value {
  padding-right: 2px;
  padding-top: 2px;
}


.form__field--multistring__last {
  margin-top: 2px;
}

.create-form {
  width: 100%;
  padding: 24px;
  background: $color900Grey;
  color: $cWhite;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-form-in-modal {
  margin: 0 auto;
  border: 1px solid $color300Grey;
  border-radius: 12px;
}

.create-form__h2, .create-form__h3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
}

.create-form__h4, .create-form__label {
  font-family: "Inter", sans-serif;
}

.create-form__h2 {
  font-size: 18px;
}

.create-form__h3 {
  font-size: 17px;
}

.create-form__h4, .create-form__label {
  font-size: 16px;
}

.create-form__headline-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.create-form__options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-form__option-container {
  background-color: $color700Grey;
  border: 1px solid $color300Grey;
  border-radius: 12px;
  width: 33%;
  padding: 16px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.create-form__option-specifications {
  margin-top: 8px;
  color: $cWhite;
}

.create-form__option-specifications ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-form__list-item__specification {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  list-style: none;
  align-items: center;
}

.create-form__list-item__specification svg {
  flex-shrink: 0;
}

.create-form__option-radio-input {
  accent-color: $cYellow;
}

.create-form__option-radio-label {
  font-size: 16px;
  font-weight: bold;
}

.create-form__option-selected {
  border: 1px solid $cYellow;
  color: $cYellow;
}

.create-form__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.create-form__option-radio-label-and-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.create-form__option-row {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  gap: 16px;
}

.action-buttons-container {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  width: 100%;
  justify-content: flex-end;
}

.form__group {
  padding: 10px;
}

textarea {
  resize: vertical;
}

.form__group__header {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;

  color: $color500Grey;

  padding-bottom: 15px;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $cWhite;
}

progress::-webkit-progress-value {
  background-color: $brandColor;
}

progress::-webkit-progress-bar {
  background-color: $color700Grey;
}

progress::-moz-progress-bar {
  background-color: $cWhite;
}

.form-element--hidden {
  opacity: 0.4;
}
