// -----------------------------------------------------------------------------
// This file contains styles for all form elements
// -----------------------------------------------------------------------------

.atom__section__form {
  display: flex;
}

.form__section {
  padding: 20px;
  min-width: 33%;
}

.form__row {
  margin-bottom: 10px;
}

.form__field__tag--input {
  border: none;
  background-color: $color650Grey;
  color: $textColor;
  font-size: 13px;
  width: 60px;
  &:focus {
    outline: none;
  }

  &--empty {
    width: 270px;
  }
}

.form__field__tag--container {
  padding-top: 2px;
}

.form__field__tag--selector {
  display: flex;
  align-content: flex-start;
  border: 1px solid $color400Grey;
  border-top: 1px solid $color400Grey;
  width: 100%;
  padding: 5px 5px;
  cursor: pointer;
  flex-wrap: wrap;
  min-height: 35px;
}

.form__field {
  position: relative;
  padding: 5px;
  font-size: 12px;
  border: 1px solid $color500Grey;
  width: 100%;
  background-color: $color650Grey;
  color: $cWhite;
  display: inline-block;
  height: 35px;

  &:not(:last-child) {
    margin: 0 0 10px;
  }

  &:focus {
    border-color: $color400Grey;
    outline: none;
  }

  &[type="file"] {
    border: none;
  }

  // Placeholder styling, separated because if one selector is invalid, the browser will ignore the rest
  ::-webkit-input-placeholder {
    color: $textColor;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $textColor;
  }

  :-ms-input-placeholder {
    color: $textColor;
  }

  // Because select elements are THE WORST
  &--select {
    background: url(/assets/video-ui/images/arrow.png) $color650Grey no-repeat right 10px center;
    background-size: 10px 10px;
    padding-right: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    text-indent: .01px;
    text-overflow: '';
  }

  &--error {
    border-color: $dangerColor;
  }

  &--external__error {
    color: $dangerColor;
  }

  &--warning {
    border-color: $brandColor;
  }

  &--loading {
    background: {
      image: url(/assets/video-ui/images/progress-spinner.gif);
      position: center right 10px;
      repeat: no-repeat;
      size: 16px 16px;
    }
  }

  &--pluto {
    margin: 5px 0px 5px 0px !important;

  }

}

.form__label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 8px 0 0;
  border-top: 1px solid $color625Grey;
}

.form__label__layout {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.form__label__button {
  font-size: 10px;
  padding: 5px;
}

.form__message {
  font-size: 13px;
  margin: 0;

  &--error {
    color: $dangerColor;
  }

  &--warning {
    color: $brandColor;
  }

}

.form__image {
  padding: 10px;
  text-align: center;
  background-color: $color700Grey;
}



.form__image img {
  max-width: 100%;
  max-height: 250px;
}

.form-checkbox {
  padding: 12px 35px;
  font-size: 13px;
  position: relative;
  display: inline-block;
  border: 1px solid $greyBorderColor;

  &:after, &:before {
    color: $cWhite;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:after {
    content: 'No';
    right: 0;
    background: $color600Grey;
  }

  &:before {
    content: 'Yes';
    left: 0;
    background: #47af37;
  }

  &__toggle {
    display: block;
    width: 50%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    background: $cWhite;

    &:hover {
      background-color: $color200Grey;
    }
  }

  &__input {
    visibility: hidden;
    &:checked + .form-checkbox__toggle {
      right: 0;
      left: auto;
    }
  }
}

.form__save-wrapper {
  position: relative;
  margin-bottom: 15px;
  border-top: 1px solid $color625Grey;
  padding-top: 8px;
}

.form__edit-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0;
  background: url(/assets/video-ui/images/edit-icon.svg) $darkBrandColor no-repeat center;
  background-size: 15px 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &:hover {
    background-color: $brandColor;
  }

  &:focus {
    border: 1px solid $cWhite;
  }
}

.form__field__tags {
  border: 1px solid $color400Grey;
  display: block;
  border-top: 1px solid $color400Grey;
  width: 100%;
  padding: 5px 5px;
  cursor: pointer;
  border-top: 12px solid $color650Grey;
}

.form__field__tag__display {
  text-decoration: underline $textColor;
}

.form__field--multiselect {
  $multiSelectBtnWidth: 45px;
  position: relative;
  padding-right: $multiSelectBtnWidth + 10px;

  &__btn {
    width: $multiSelectBtnWidth;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: $color200Grey;
    border-left: 1px solid $color300Grey;
    cursor: pointer;
  }

  &__options {
    background: $color200Grey;
    border: 1px solid $color300Grey;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    z-index: 1;
  }

  &__option {
    padding: 5px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $color300Grey;
    };

    &:hover {
      background: $color650Grey;
    }
  }

  &__value {
    display: inline-block;
    padding: 2px 4px;
    background: $color650Grey;
    border: 1px solid $color300Grey;
    border-radius: 2px;
    margin-right: 2px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;


    &:after {
      content: '×';
      display: inline-block;
      font-weight: normal;
      margin-left: 4px;
    }
  }
}

.form__field--multistring__value {
  padding-right: 2px;
  padding-top: 2px;
}

// bit specific
.create-form {
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  background: $color650Grey;
}

.form__group {
  padding: 10px;
}

textarea {
  resize: vertical;
}

.form__group__header {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;

  color: $color500Grey;

  padding-bottom: 15px;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $cWhite;
}

progress::-webkit-progress-value {
  background-color: $brandColor;
}

progress::-webkit-progress-bar {
  background-color: $color700Grey;
}

progress::-moz-progress-bar {
  background-color: $cWhite;
}
