.publish__label {
  width: 60px;
  height: 30px;
  color: $color800Grey;
  border-radius: 25px;
  text-align: center;
  padding: 7px 10px;
  font-family: $text-font-stack;
  font-weight: bold;
  font-size:12px;
  margin-right: 1px;
}

.label__live {
  color: $cWhite;
  background-color: $labelPublishedColor;
}

.label__draft {
  background-color: $brandColor;
}

.label__expired {
  background-color: $cRedE3;
  color: $cWhite;
}

.label__frontpage__novideo {
  color: $color300Grey;
  background-color: rgba(51,51,51,0.9);
}

.label__frontpage__overlay {
  width: 70px;
}

.label__frontpage__scheduledLaunch {
  color: $cYellow;
  background-color: rgba(51,51,51,0.9);
}

.label__frontpage__embargo {
  color: $dangerColor;
  background-color: rgba(51,51,51,0.9);
}

.header__video__title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.header__fields__missing__warning {
  color: $dangerColor;
  width: 180px;
  margin-left: 5px;
}
