.publish__label {
  width: 60px;
  height: 30px;
  color: $color800Grey;
  border-radius: 25px;
  text-align: center;
  padding: 7px 10px;
  font-family: $text-font-stack;
  font-weight: bold;
  font-size:12px;
  margin-right: 30px;
}

.label__live {
  color: $cWhite;
  background-color: $labelPublishedColor;
}

.label__draft {
  background-color: $brandColor;
}

.label__expired {
  background-color: $cRedE3;
  color: $cWhite;
}

.label__overlay {
  position: absolute;
  left: 5px;
  bottom: 55px;
  width: 80px;
}
