// prevent scrolling of content underneath dialog
body:has(dialog[open]) {
  overflow: hidden
}

.modal {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    cursor: default;
    margin: 0;
    max-width: none;

    &:open {
      display: flex;
      flex-direction: column-reverse;
    }

    .modal-content__body {
        padding: 12px;
    }

    .modal__content__header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 14px;
    }

    .modal__dismiss {
        border: 1px solid $cWhite;
    }

    .modal__content {
      height: calc(100% - 60px);
      overflow-y: scroll;
    }
}
