.presence-section {
  display: inline-block;
  margin-left: 10px;
}

.presence-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-content: space-between;
  margin-right: 5px;

  &__user {
    display: block;
    padding: 7px;
    border-radius: 50%;
    color: $color600Grey;
    background-color: $cWhite;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.presence-warning {
  color: $color200Grey;
  background-color: $mortalDangerColor;
  font-weight: bold;
  padding: 5px;
}
