.presence-section {
  display: inline-block;
  margin-left: 10px;
}

.presence-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-content: space-between;
  margin-right: 5px;

  &__user {
    display: block;
    padding: 7px;
    border-radius: 50%;
    color: $color600Grey;
    background-color: $cWhite;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.presence-warning {
  color: $color200Grey;
  background-color: $mortalDangerColor;
  font-weight: bold;
  padding: 5px;
}

.presence-section-front {
  pointer-events: none;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  top: 4px;
  left: -5px;
  height: 40px;
  width: 95%;
  z-index: 1;
}

.presence-list-front {
  list-style: none;
  padding: 0;
  display: flex;
  align-content: space-between;
  margin-right: 4px;

  &__user {
    pointer-events: auto;
    display: block;
    padding: 5px;
    border-radius: 50%;
    color: $color600Grey;
    background-color: $cWhite;

    &:not(:last-child) {
      margin-right: 7px;
    }

    &:hover {
      cursor: default;
    }
  }
}