.section-header {
  display: grid;
  grid-template-columns: 1fr 33px;
  grid-gap: 10px;

  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid $brandColor;
  background-color: $color700Grey;
}

.section-header + * {
  background-color: $color625Grey;
}

.section-header,
.section-header + * {
  padding: 10px;
}

.section {
  border: 2px solid orange;
}
