.section {
  background-color: $color625Grey;
  display: grid;

  grid-template-areas:
    "section-header"
    "section-content";

  grid-template-rows: 55px 1fr;
}

.section-header {
  grid-area: section-header;

  display: grid;
  grid-template-columns: 1fr 33px;
  grid-gap: 10px;

  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid $brandColor;
  background-color: $color700Grey;
}

.section-header,
.section-header + * {
  padding: 10px;
}

.section-header + * {
  grid-area: section-content;
}
