/* -------------------------------------- */
/* Basic table styles                     */
/* -------------------------------------- */

.table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  border: 1px solid $color700Grey;

  &__header-row {
    background-color: $color600Grey;
    color: $color300Grey;
    font-size: $fontsize__detailbox;
    font-weight: bold;
    border-top: 1px solid $color600Grey;
  }
}

tr:nth-child(even) {
  background-color: $color650Grey;
}

th, td {
    padding: 6px;
    text-align: left;
}
