/* -------------------------------------- */
/* Basic table styles                     */
/* -------------------------------------- */

.table {
  width: 100% auto;
  margin: 20px;
  border-collapse: collapse;

  &__header-row {
    background-color: $color600Grey;
    padding-left: 5px;
    color: $color300Grey;
    text-align: left;
    font-size: $iconSize;
    font-weight: bold;
    border-top: 1px solid $color600Grey;
  }
}

tr:nth-child(even) {
  background-color: $color650Grey;
}

th, td {
    padding: 8px;
    text-align: left;
}
