.production-office {
  padding: 5px;
  font-weight: bold;

  &--UK {
    background-color: $cBlue00;
    color: $cWhite;
  }

  &--US {
    background-color: $cRedB5;
    color: $cWhite;
  }

  // see #613 for why AUS is here 😳
  &--AU,
  &--AUS {
    background-color: $cYellow;
    color: $cGreen00;
  }
}
