<h2 class="asset-detail">Add a new asset</h2>
<form name="atomAssetForm">
    <div class="form-group" ng-class="{'has-error': atomAssetForm.urlField.$invalid}">
        <label for="assetUrl">Url:</label>
        <input type="text" class="form-control" id="assetUrl" name="urlField" valid-url placeholder="url" required ng-model="newAsset.uri">
        <div ng-show="atomAssetForm.urlField.$invalid" class="form-text text-muted">Must be a url with https scheme</div>
    </div>
    <div class="form-group">
        <label for="assetMimeType">Mime Type:</label>
        <select class="form-control" id="assetMimeType" ng-change="validateVersion(atomAssetForm)" ng-model="newAsset.mimetype">
            <option value="" selected="selected">N/A</option>
            <option value="video/mp4">video/mp4</option>
            <option value="video/webm">video/webm</option>
            <option value="video/ogg">video/ogg</option>
            <option value="video/m3u8">video/m3u8</option>
        </select>
    </div>
    <div class="form-group" ng-class="{'has-error': atomAssetForm.versionField.$invalid}">
        <label for="assetVersion">Version:</label>
        <input type="number" class="form-control" id="assetVersion" name="versionField" required ng-change="validateVersion(atomAssetForm)" ng-model="newAsset.version"> </div>
        <div ng-show="newAsset.version && atomAssetForm.versionField.$invalid" class="form-text text-muted">The asset version cannot match the version of another asset with the same mimetype</div>
</form>
<button class="btn btn-primary paddedButton" ng-disabled="addingAsset || !atomAssetForm.$valid" ng-click="addAsset()">Add Asset</button>
