<div ng-if="assets.length > 0">
    <h2 class="asset-detail">Assets</h2>
    <table class="table table-bordered">
        <tr>
            <td class="label">Type</td>
            <td class="label">ID</td>
            <td class="label">Platform</td>
            <td class="label">Version</td>
            <td class="label">Mime type</td>
        </tr>
        <tr
                ng-repeat="asset in assets"
                ng-init="currentAsset=asset"
                ng-click="revertVersion(currentAsset.version)"
                ng-class="{
                'assetRow-active' : currentAsset.version === atom.activeVersion,
                'assetRow' : currentAsset.version !== atom.activeVersion
                }"
                >
                <td>{{asset.assetType}}</td>
                <td>{{asset.id}}</td>
                <td>{{asset.platform}}</td>
                <td>{{asset.version}}</td>
                <td ng-show="asset.mimeType">{{asset.mimeType}}</td>
                <td ng-show="!asset.mimeType">N/A</td>
        </tr>
    </table>
</div>
<div ng-if="assets.length === 0">
    You have not yet added any assets to this atom
</div>

