<div ng-if="assets.length > 0">
    <h2 class="asset-detail">Assets</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Type</th>
            <th>ID</th>
            <th>Platform</th>
            <th>Version</th>
            <th>Mime type</th>
        </tr>
        </thead>
        <tr
                ng-repeat="asset in assets"
                ng-init="currentAsset=asset"
                ng-click="revertVersion({ version: currentAsset.version })"
                ng-class="{
                    'assetRow-active' : currentAsset.version === activeVersion,
                    'assetRow' : allowEdit
                }"
                >
                <td>{{asset.assetType}}</td>
                <td>{{asset.id}}</td>
                <td>{{asset.platform}}</td>
                <td>{{asset.version}}</td>
                <td ng-show="asset.mimeType">{{asset.mimeType}}</td>
                <td ng-show="!asset.mimeType">N/A</td>
        </tr>
    </table>
</div>
<div ng-if="assets.length === 0">
    You have not yet added any assets to this atom
</div>
