<a class="btn btn-secondary" href='#/'>Back to atoms page</a>

<div class="container">
    <h1>Atom Data</h1>

    <media-alerts alerts=alerts></media-alerts>
    <div ng-include="'assets/javascript/shared/views/atom-form.html'"></div>
    <button class="btn btn-success" ng-disabled="publishing" ng-click="publish()">Publish Atom</button>

    <h1>Asset management</h1>

    <div class="form-group">
        <label for="assetVersion">Current active version:</label>
        <div type="text" class="form-control" id="assetVersion">{{atom.activeVersion}}</div>

    <div ng-if="assets.length > 0">
        <h2>Assets</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <td class="label">Type</td>
                <td class="label">ID</td>
                <td class="label">Platform</td>
                <td class="label">Version</td>
                <td class="label">Mime type</td>
            </tr>
            <tr
                ng-repeat="asset in assets"
                ng-init="currentAsset=asset"
                ng-click="revertVersion(currentAsset.version)"
                ng-class="{
                    'assetRow-active' : currentAsset.version === atom.activeVersion,
                    'assetRow' : currentAsset.version !== atom.activeVersion
                }"
            >
                <td>{{asset.assetType}}</td>
                <td>{{asset.id}}</td>
                <td>{{asset.platform}}</td>
                <td>{{asset.version}}</td>
                <td ng-show="asset.mimeType">{{asset.mimeType}}</td>
                <td ng-show="!asset.mimeType">N/A</td>
            </tr>
        </table>
    </div>
    <div ng-if="assets.length === 0">
        You have not yet added any assets to this atom
    </div>

    <h2>Add a new asset</h2>
    <form name="atomAssetForm">
        <div class="form-group" ng-class="{'has-error': !newAsset.uri}">
            <label for="assetUrl">Url:</label>
            <input type="text" class="form-control" id="assetUrl" valid-youtube-url placeholder="url" required ng-model="newAsset.uri">
        </div>
        <div class="form-group">
            <label for="assetMimeType">Mime Type:</label>
            <select class="form-control" id="assetMimeType" ng-model="newAsset.mimetype">
                <option value="" selected="selected">N/A</option>
                <option value="video/mp4">video/mp4</option>
                <option value="video/webm">video/webm</option>
                <option value="video/ogg">video/ogg</option>
                <option value="video/m3u8">video/m3u8</option>
            </select>
        </div>
        <div class="form-group" ng-class="{'has-error': !newAsset.version}"></div>
            <label for="assetVersion">Version:</label>
            <input type="text" class="form-control" id="assetUrl" required ng-model="newAsset.version">
        </div>
    </form>

    <button class="btn btn-primary" ng-disabled="addingAsset || !atomAssetForm.$valid" ng-click="addAsset()">Add Asset</button>

    <h1>Default HTML</h1>

    <div ng-bind-html="atom.trustedHtml" class="defaultHtmlPreview"></div>
    <div class="defaultHtmlSource">
        <pre>{{ atom.defaultHtml }}</pre>
    </div>

</div>
