<a class="btn btn-secondary" href='#/'>Back to atoms page</a>

<div class="container">
    <h1>Atom Data</h1>

    <media-alerts alerts=alerts></media-alerts>
    <div ng-include="'assets/javascript/atom-form/atom-form.html'"></div>
    <button class="btn btn-success" ng-disabled="publishing" ng-click="publish()">Publish Atom</button>

    <h1>Asset management</h1>

    <div class="form-group">
        <label for="assetVersion">Current active version:</label>
        <div type="text" class="form-control" id="assetVersion">{{atom.activeVersion}}</div>
    </div>
    <div ng-include="'assets/javascript/atom/asset-list.html'"></div>
    <div ng-include="'assets/javascript/atom/asset-form.html'"></div>

    <h1>Default HTML</h1>

    <div ng-bind-html="atom.trustedHtml" class="defaultHtmlPreview"></div>
    <div class="defaultHtmlSource">
        <pre>{{ atom.defaultHtml }}</pre>
    </div>

    <div id=publishInfo>
        <h1>Published Atom Infromation</h1>

        <div ng-if="!publishedAtom">
            This atom has not yet been published
        </div>
        <div ng-if="publishedAtom && !publishedNotPreview">
            The published atom is equal to the current preview atom
        </div>
        <div ng-if="publishedNotPreview">
            <button class="btn btn-primary" ng-click="showPublishedAtom = !showPublishedAtom">{{ showPublishedAtom && 'Hide' || 'Show' }} published atom </button>
            <div ng-if="showPublishedAtom" ng-include="'assets/javascript/atom/published-atom-detail.html'"></div>
        </div>
    </div>
</div>
