<div class="form-group">
    <label for="atomTitle">Title:</label>
    <input type="text" class="form-control" id="atomTitle" ng-model="publishedAtom.title" required readonly>
</div>

<div class="form-group">
<label for="embedUrl">Embed URL:</label>
    <textarea class="form-control embed-url" rows="1" readonly id="embedUrl">{{embedUrl}}</textarea>
</div>

<div class="form-group">
    <label for="atomCategory">Category:</label>
    <input type="text" class="form-control" id="atomCategory" ng-model="publishedAtom.category" required readonly>
</div>
<div class="form-group">
    <label for="atomDuration">Duration (in seconds):</label>
    <input class="form-control" id="atomDuration" ng-model="publishedAtom.duration" readonly>
</div>
<div class="form-group">
    <label for="atomPoster">Poster:</label>
    <input class="form-control" id="atomPoster" ng-model="publishedAtom.posterUrl" readonly>
</div>

<h3>Published Atom Assets</h3>
<asset-list
    ng-if="publishedAtom.assets.length > 0"
    allow-edit=false
    assets=publishedAtom.assets
    active-version=publishedAtom.activeVersion
    revert-version=preventPublishedVersionRevert()
></asset-list>
<div ng-if="publisedAtom.assets.length > 0">

</div>
<div ng-if="publishedAtom.assets.length === 0">
    The published version of this atom does not have any assets
</div>
<h3>Published atom default html</h3>

<div ng-bind-html="publishedAtom.trustedHtml" class="defaultHtmlPreview"></div>
<div class="defaultHtmlSource">
    <pre>{{ publishedAtom.defaultHtml }}</pre>
</div>
