@import com.gu.contentatom.thrift.Atom
@import com.gu.contentatom.thrift.atom.media._
@import util.atom.MediaAtomImplicits._
@(atom: Option[Atom] = None)

@selectedIf(condition: Boolean) = {
    @if(condition){selected="selected"}
}

<table id="atom-data">
    <tr><td class="label">ID</td><td>@{atom.map(_.id).getOrElse("[Will be generated]")}</td></tr>
    <tr><td class="label">Atom type</td><td>Media</td></tr>
    <tr>
        <td class="label">Title</td>
        <td><input id="titleInput" type="text" name="title" value="@{atom.map(_.tdata.title)}" style="width:500px;" /></td>
    </tr>
    <tr>
        <td class="label">Category</td>
        <td>
            <select id="categoryInput" name="category">
                <option value="news" @selectedIf(atom.isEmpty || atom.exists(_.tdata.category == Category.News))>News</option>
                <option value="documentary" @selectedIf(atom.exists(_.tdata.category == Category.Documentary))>Documentary</option>
                <option value="explainer" @selectedIf(atom.exists(_.tdata.category == Category.Explainer))>Explainer</option>
                <option value="feature" @selectedIf(atom.exists(_.tdata.category == Category.Feature))>Feature</option>
                <option value="hosted" @selectedIf(atom.exists(_.tdata.category == Category.Hosted))>Hosted</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="label">Duration (s)</td>
        <td><input id="durationInput" type="text" name="duration" value="@{atom.map(_.tdata.duration)}" maxlength="4" /></td>
    </tr>
    <tr>
        <td class="label">Poster</td>
        <td><input id="posterInput" type="text" name="poster" value="@{atom.map(_.tdata.posterUrl)}" style="width:500px;" /></td>
    </tr>
    <tr><td class="label">Active version</td><td>@{atom.map(_.tdata.activeVersion).getOrElse("[Will be generated]")}</td></tr>
</table>
