@import com.gu.contentatom.thrift.Atom
@import views.html.MediaAtom.atomData
@import views.html.MediaAtom.atomListTable
@import views.html.MediaAtom.createAtomUI
@(atoms: TraversableOnce[Atom])

<html>
    <head>
        <script
	     src="https://code.jquery.com/jquery-2.2.4.min.js"
	     integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	     crossorigin="anonymous"></script>
        <script src="/assets/javascript/atom.js"></script>
        <title>Media Atoms</title>
        <link rel="stylesheet" href="/assets/stylesheets/atom-data.css">
    </head>
    <body>
        @atomData()
        @createAtomUI()
        @atomListTable(atoms)
    </body>
</html>
