table {
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid black;
}

td.label {
    background-color: lightblue;
    font-weight: bold;
}

button.paddedButton {
    margin-bottom: 3px;
}

tr.assetRow, tr.assetRow-active {
    cursor: pointer;
}
tr.assetRow-active {
    background-color: yellow;
}

div.defaultHtmlPreview,
div.defaultHtmlSource {
    border: 1px dashed black;
    padding: 10px;
    margin: 10px 0;
}

h1.atom-section {
    font-size: 28px;
}

h2.asset-detail {
    font-size: 20px;
}

.form-control.disabled::-webkit-input-placeholder {
    color: black;
}
.form-control.disabled::-moz-placeholder {
   color: black;
}

.form-control.disabled::-ms-input-placeholder {
   color: black;
}

