@mixin buttonClass($btnBackground, $btnDisabled, $btnText, $btnTextDisabled) {
  display: block;
  padding: 10px;
  background-color: $btnBackground;
  color: $btnText;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;

  &:hover:not(:disabled) {
    background: darken($btnBackground, 5);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus {
    outline: 1px solid $cWhite;
  }
}

@mixin disabled {
  opacity: 0.4;
  cursor: default;
  background-color: darken($color600Grey, 10%);
}
