@mixin buttonClass($btnBackground, $btnText) {
  display: block;
  padding: 10px;
  background-color: $btnBackground;
  color: $btnText;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;

  &:hover:not(:disabled) {
    background: darken($btnBackground, 5);
  }

  &:disabled {
    background: $color500Grey;
  }

  &:focus {
    outline: 1px solid $cWhite;
  }
}
