@mixin buttonClass($colorA, $colorB) {
  display: block;
  padding: 10px;
  background-color: $colorA;
  color: $colorB;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;

  &:hover:not(:disabled) {
    background: darken($colorA, 5);
  }

  &:disabled {
    background: $color500Grey;
  }

  &:focus {
    outline: 1px solid $cWhite;
  }
}
