@(
  title: String,
  jsFileLocation: String,
  autotrackJsLocation: String,
  presenceJsLocation: Option[String],
  clientConfigJson: String,
  isHotReloading: Boolean,
  maybeGaPropertyId: Option[String],
  csrf: Option[String] = None
)

@layout(title, isHotReloading, autotrackJsLocation, maybeGaPropertyId, csrf) {
    <div id="react-mount" class="main">
        <h1>Loading...</h1>
    </div>

    <script type="application/json" id="config">
        @Html(clientConfigJson)
    </script>

    @presenceJsLocation.map { presenceJs =>
      <script src="@presenceJs"></script>
    }

    <script src="@jsFileLocation"></script>


}
