@(
  title: String,
  jsFileLocation: String,
  presenceJsLocation: Option[String],
  pinboardJsLocation: Option[String],
  clientConfigJson: String,
  isHotReloading: Boolean,
  csrf: String
)

@layout(title, isHotReloading, csrf) {
    <div id="react-mount" class="main">
        <h1>Loading...</h1>
    </div>

    <script type="application/json" id="config">
        @Html(clientConfigJson)
    </script>

    @presenceJsLocation.map { presenceJs =>
      <script src="@presenceJs"></script>
    }

    <script type="module" src="@jsFileLocation"></script>

    @pinboardJsLocation.map { pinboardJs =>
      <script async src="@pinboardJs" ></script>
    }

}
