@(
  title: String,
  isHotReloading: Boolean,
  autotrackJsLocation: String,
  maybeGaPropertyId: Option[String],
  csrf: Option[String] = None
)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("video-ui/images/favicon.png")">

    @if(!isHotReloading) {
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("video-ui/build/main.css")"/>
    }

    @defining(maybeGaPropertyId) {
      case Some(gaPropertyId) => {
        <!-- Google Analytics -->
        <script>
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', '@gaPropertyId', 'auto');

          ga('require', 'cleanUrlTracker');
          ga('require', 'eventTracker');
          ga('require', 'impressionTracker');
          ga('require', 'maxScrollTracker');
          ga('require', 'mediaQueryTracker');
          ga('require', 'outboundFormTracker');
          ga('require', 'outboundLinkTracker');
          ga('require', 'pageVisibilityTracker');
          ga('require', 'socialWidgetTracker');
          ga('require', 'urlChangeTracker');

          ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <script async src='@autotrackJsLocation'></script>
        <!-- End Google Analytics -->
      }
      case _ => {

      }
    }
    @csrf.map { token =>
      <script type="text/javascript">
              window.guardian = window.guardian || {};
              if(!window.guardian.csrf) {
                window.guardian.csrf = {token: "@token"}
              }
      </script>
    }
  </head>
  <body>
    @content
  </body>
</html>
