@(title: String, isDev: Boolean)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("video-ui/images/favicon.png")">

    @if(!isDev) {
      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("video-ui/build/main.css")"/>
    }

  </head>
  <body>
    @content
  </body>
</html>
