.sixteen-by-nine {
  // https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; // 16:9 ratio
  object-fit: contain;

  :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.nine-by-sixteen {
  // https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 71.11%; // 9:16 ratio (16/9)*0.4 so that it doesn't take up the whole screen


  :first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40%; // So it doesn't take up the whole screen (as above)
    height: 100%;
    margin: auto;
  }
}

.responsive {
  &--primary {
    @media only screen and (max-width: $large-screen) {
      font-size: large;
    }
  }

  &--optional {
    @media only screen and (max-width: $large-screen) {
      display: none;
    }
  }

  &--always-show {
    display: inline;
  }
}

.inline-block {
  display: inline-block;
}
