.grid {
  display: flex;

}

.grid__message {
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.grid__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 5px;
}

.grid__item {
  flex-basis: 25%;
  padding: 5px;
}

.grid__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: $color650Grey;
  
  &:hover {
    background: lighten($color650Grey, 5);
  }
}

.grid__image {
  width: 100%;
  min-height: 100px;
  background: $color600Grey;

  & img {
    width: 100%;
    display: block;
  }
}