.icon {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    text-decoration: none;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    align-self: center;
    vertical-align: text-bottom;

    @media only screen and (max-width: $large-screen) {
      vertical-align: bottom;
    }

  &--text {
    margin-left: 5px;
  }

  &:link {
    text-decoration: none;
  }
}

.icon__done,
.icon__edit,
.icon__assets,
.icon__cancel {
  background-color: $color600Grey;
  min-width: 33px;
  height: 33px;
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items: center;

  i.icon {
    font-size: $iconSize;
  }
}

.icon__assets {
  position: absolute;
  right: 10px;
  top: 8px;
}

.icon__edit,
.icon__assets {
  background-color: $color600Grey;
  color: $color300Grey;
  &:hover {
    background-color: darken($color600Grey, 10%);
  }
  &.disabled {
    @include disabled;
  }
  &__disabled {
    @include disabled;
    &:hover {
      background-color: $color600Grey;
      cursor: not-allowed;
    }
  }
}


.icon__spacing {
  margin-right: 5px;
}

.icon__edit,
.icon__save,
.icon__cancel {
  padding: 0 10px;
}

.icon__back {
  background-color: $brandColor;
  color: $color800Grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items: center;
  margin: 10px 20px 10px 10px;

  &:hover {
    background-color: darken($brandColor, 10%);
  }
}

.icon__done {
  background-color: $brandColor;
  padding: 0 10px;
  color: $color800Grey;
  &:hover {
    background-color: darken($brandColor, 5%);
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.icon__cancel {
  background-color: $color100Grey;
  margin-left: 5px;

  &:hover {
    background-color: darken($color100Grey, 5%);
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.svg-icon {
  svg {
    width: $iconSize;
    height: $iconSize;
  }

  path {
    fill: $color600Grey;
  }


  &:hover {
    path {
      fill: $color300Grey;
    }
  }
}
