.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: $iconSize;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
    align-self: center;

  &--text {
    margin-left: 5px;
  }
}

.icon__done,
.icon__edit {
  background-color: $color600Grey;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items: center;
}

.icon__edit {
  background-color: $color600Grey;
  color: $color300Grey;
  &:hover {
    background-color: darken($color600Grey, 10%);
  }
  &.disabled {
    opacity: 0.4;
    cursor: default;
    background-color: darken($color600Grey, 10%);
  }
}

.icon__spacing {
  margin-right: 5px;
}

.icon__done {
  background-color: $brandColor;
  color: $color800Grey;
  &:hover {
    background-color: darken($brandColor, 5%);
  }

  &.disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.svg-icon {
  svg {
    width: $iconSize;
    height: $iconSize;
  }

  path {
    fill: $color600Grey;
  }

  &:hover {
    path {
      fill: $color300Grey;
    }
  }
}
