$topbarHeight: 50px;

.topbar {
  background: $color700Grey;
  border-bottom: 1px solid $greyBorderColor;
}

.topbar__search {
  border: 1px solid #999;
  box-sizing: border-box;
  min-width: 250px;
  input {
    background-color: transparent;
    border: none;
  }
}

.topbar__nav_ {
  &:hover {
    background: $color650Grey;
  }
}

.topbar__nav-link {
  padding-right: 10px;
  text-decoration: none;
}


.topbar__home-link {
  text-indent: -9999px;
  width: $topbarHeight;
  height: $topbarHeight;
  background: url(/assets/video-ui/images/logo.svg) no-repeat center;
  background-size: 30px 30px;
  margin-right: 0;
  vertical-align: top;
  float: left;

  &:hover {
    background-color: $color650Grey;
  }
}

.topbar__feedback {
  color: $brandColor;
}
