$topbarHeight: 50px;

.topbar {
  background: $color700Grey;
  display: flex;
  border-bottom: 1px solid $greyBorderColor;
  justify-content: space-between;
}

.topbar__container {
  display: flex;
  align-items: center;
}

.topbar__search {
  width: 300px;
  margin-left: 20px;
}

.topbar__nav-link {
  vertical-align: middle;
  line-height: $topbarHeight;
  display: inline-block;
  border-left: 2px solid $greyBorderColor;
  height: $topbarHeight;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background: $color650Grey;
  }
}


.topbar__home-link {
  text-indent: -9999px;
  width: $topbarHeight;
  height: $topbarHeight;
  background: url(/assets/video-ui/images/logo.svg) no-repeat center;
  background-size: 30px 30px;
  margin-right: 0;
  vertical-align: top;
  float: left;

  &:hover {
    background-color: $color650Grey;
  }
}