.upload {
  width: 100%;
  padding: 20px 30px;
  background-color: $color800Grey;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    background-color: $color650Grey;
    border-top: 1px solid $color600Grey;
    border-bottom: 1px solid $color625Grey;
  }

  &__content {
    display: flex;
    height: 100%;
  }

  &__actions {
    flex: 0 0 20%;
  }

  &__actions--non-empty {
    border-right: 1px solid $color700Grey;
  }

  &__action {
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  &__action:not(:last-child) {
    border-bottom: 1px solid $color625Grey;
  }

  &__assets {
    flex: 3 0 0;

    margin: 10px 30px;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;

    background-color: $bodyBgColor;
  }

  &__asset {
    margin: 10px;
    color: white;
    display: inline-block;

    &__video {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
      color: white;

      img {
        width: 100%;
      }
    }

    &__empty {
      background-color: $color900Grey;
      height: 140px;
      text-align: center;
    }

    &__running {
      background-color: $color900Grey;
      height: 140px;

      span {
        position: absolute;
      }

      svg {
        position: absolute;
      }
    }

    &__caption {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: left;
      background-color: $color650Grey;
      font-size: 15px;
      padding: 8px 10px;

      a {
        text-decoration: none;
      }
    }
  }

  label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 8px 0 0;
  }
}

.upload__final{
  z-index: 100px;
}


.loader {
    border: 5px solid $color700Grey;
    border-top: 5px solid $brandColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
