.video {
  width: 100%;
  display: flex;
  height: calc(100vh - #{$toolbarHeight});
  align-items: stretch;
}

.video__main {
  flex-grow: 1;
  padding: 10px 15px;

  background-color: $color800Grey;

  &__header {
    display: flex;
    flex-wrap: wrap;
  }
}

.video__row {
  display: flex;
}

.video-preview {
  text-align: center;
  border-style: none;

  &__header {
    display: block;
  }
}

.video-assets__show-btn {
  width: 100%;
  text-align: center;
  color: $cWhite;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 10px;
  border: {
    top: 1px solid $color600Grey;
    bottom: 1px solid $color600Grey;
  }
  box-shadow: 3px 3px 3px $color700Grey;

  &:hover {
    background-color: $color650Grey;
  }
}

.video-details {
  width: 300px;
}

.video__detailbox__header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.video__detailbox {
  flex: 1 0 20%;
  margin: 10px;
  background-color: $color650Grey;
  border-top: 1px solid $color600Grey;

  &__header {
    color: $color500Grey;
    font-weight: bold;
    display: block;
    font-size: $fontsize__detailbox;
  }

  &__assets {
    margin: 0px;
  }
}

.video__data {
  flex-basis: 70%;
}

.video__detail__page {
  flex: 1 0 20%;
  margin: 10px;

  &__header {
    color: $color500Grey;
    font-weight: bold;
    display: block;
    font-size: $fontsize__detailbox;
  }

  &__trail {
    margin-top: 20px;
    padding-left: 20px;
    flex: 8;
  }
}

.video__load_more {
  margin: 0 auto;
}
