.video {
  width: 100%;
  display: flex;
  height: calc(100vh - #{$toolbarHeight});
  align-items: stretch;
}

.video__main {
  flex-grow: 1;
  background-color: $color800Grey;
  padding: 10px;

  &__header {
    display: flex;
    flex-wrap: wrap;
  }
}

.video__row {
  display: flex;
  gap: 10px;
}

.video-preview {
  text-align: center;
  border-style: none;

  &__header {
    display: block;
  }
  padding: 10px;
}

.video-assets__show-btn {
  width: 100%;
  text-align: center;
  color: $cWhite;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 10px;
  border: {
    top: 1px solid $color600Grey;
    bottom: 1px solid $color600Grey;
  }
  box-shadow: 3px 3px 3px $color700Grey;

  &:hover {
    background-color: $color650Grey;
  }
}

.video-details {
  width: 300px;
}

.video__imagebox {
  display: flex;
  gap: 10px;
}

.video__detailbox__header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: 4px;
  gap: 10px;
  align-items: center;
}

.video__detailbox__header__format {
  display: flex;
  gap: 4px;
  font-size: 16px;
  align-items: center;
}

.video__detailbox__header__format h4 {
  margin: 0;
}

.video__detailbox {
  flex: 1 0 20%;
  background-color: $color650Grey;
  border-top: 1px solid $color600Grey;

  &__header {
    flex-grow: 1;
    color: $color400Grey;
    font-weight: bold;
    display: block;
    font-size: $fontsize__detailbox;
    margin-bottom: 8px;
    &-with-border {
      margin-bottom: 10px;
      padding-bottom: 6px;
      border-bottom: 1px solid #444;
    }

  }

  &__assets {
    margin: 0px;
  }
}

.video__detail__page {
  flex: 1 0 20%;
  margin: 10px;

  &__header {
    color: $color500Grey;
    font-weight: bold;
    display: block;
    font-size: $fontsize__detailbox;
  }

  &__trail {
    margin-top: 20px;
    padding-left: 20px;
    flex: 8;

    .grid__item {
      width: 400px;
      height: 300px;

      .upload {
        height: 250px;
      }
    }
  }
}

.video__load_more {
  margin: 0 auto;
}

.video-player {
  max-width: 100%;
}

.video-asset {
  display: inline-flex;
  gap: 12px;
  margin: 0;
}
.video-asset-number {
  font-style: oblique;
  color: $brandColor;
}


.video__images {
  width: 33%;
  flex: 1 0 20%;
  margin-top: 10px;
  background-color: #393939;
  border-top: 1px solid #666666;
}

.video__images_description_table {
  border-spacing: 0px;
}

.video__images_description_table th, .video__images_description_table td {
  padding: 0px 8px 8px 0px;
  width: 33%;
  vertical-align: top;
}

.video__images_description_table th:last-of-type, .video__images_description_table td:last-of-type {
  padding: 0px;
}

.video__images_description_table td {
  color: $cWhite;
}

.video__images_heading {
  font-weight: 700;
  margin: 0 0 5px;
  padding: 8px 0 0;
  border-top: 1px solid #3e3e3e;
  text-align: left;
}

.video__images_description {
  color: $color500Grey;
}
