
.video__grid__item {
  display:flex;
  flex-direction: column;
  position:relative;
  border-top: 1px solid $brandColor;
  width: 300px;
  margin: 8px;
}

.video__grid__status__overlay {
    position: absolute;
    right: 5px;
    top: 10px
}

.video__grid__presence_indicator {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width:40px;
  border-radius: 50%;
  color: $color600Grey;
  background-color: $cWhite;
}

.video__grid__item__details {
  width: 100%;
  background-color: $color700Grey;
  height: 60px;
  min-height: 60px;
}
.video__grid__item__subtitles {
  border-top: 1px solid $brandColor;
  background-color: $color600Grey;
  padding: 24px 12px 12px 12px;
}

.video__grid__item__subtitles_details {
  display:flex;
  gap: 10px;
}

.video__grid__item__subtitles_actions {
  display:flex;
  justify-content: space-between;
}

.video__grid__item_text {
  display:flex;
}
